/.memo/
/archive/
/output/
/test_*
/3d-pose-baseline-vmd/
/FCRN-DepthPrediction-vmd/
/tf-pose-estimation/
/VMD-3d-pose-baseline-multi/
/motion_trace_bulk/

*~
TAGS
GTAGS
GRTAGS
GPATH

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
